<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
    <div class="container">
        <form action="/loginuser" method="POST">
            <h2>Login</h2>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <%if(locals.usermessage){%>
                <p style="color: red;"><%= usermessage %> <a href="/register">register</a></p>
                <%}%>


            <%if(locals.message){%>
                <p style="color: red;"><%= message %></p>
                <%}%>

            <a href="/register">Don't have account ?</a>

            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
